html {
  background-color: rgb(104, 255, 205);
  height: 100%;
  font-family: "Share Tech Mono", monospace;
}

.main {
  width: 960px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.output {
  margin-left: 10px;
  font-size: 50px;
  display: flex;
  justify-content: center;
}
